APP_NAME=SISVDA
APP_ENV=production
APP_KEY=base64:kxq6WFK0NgWXLZX/Uah1SQ/6Efs5j1A1HElnNyvlJko=
APP_DEBUG=true
APP_URL=http://ec2-3-16-158-199.us-east-2.compute.amazonaws.com/


LOG_CHANNEL=stack

DB_CONNECTION=mongodb
DB_HOST= localhost
DB_PORT=27017
DB_DATABASE=Sisvda
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=soportesistemadeverificacion@gmail.com
MAIL_PASSWORD=uzeigchxcezwxwjm
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME = 'Soporte SISVDA'

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

RECAPTCHA_SECRET=6LcA6fUUAAAAAKwuoxr1iN0IjS5hz-C1naeeOtGd
RECAPTCHA_SITEKEY=6LcA6fUUAAAAAI6ipmRHbMBcNxHx8mtyEZ1cbO9u
